version: '3.4'

services:
  vk-fx-datafeed:
    image: ${DOCKER_IMAGE-}vkfxdatafeed:${TAG-latest}
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "8080"
    build:
      context: .
      dockerfile: src/VK.Fx.DataFeed.ApiHost/Dockerfile