microservice-chart:
  image:
    repository: quay.vakifkatilim.local/master/vkfxdatafeed
    tag: 

  route:
    enabled: true
    host: vk-fx-datafeed-prod-vk-fx.apps.ocpprod.vakifkatilim.local
    targetPort: http
    tls:
      enabled: false
      termination: "edge"
      insecureEdgeTerminationPolicy: "None"

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

  persistence:
    enabled: false
    existingClaim: "nfs-dev-store"
    mountPath: "/data"

  probe:
    enabled: true

  conjur:
    enabled: true
    CONJUR_AUTHN_LOGIN: host/prod_vk-fx-online-host

  envVar:
    configmap:
      ASPNETCORE_ENVIRONMENT: Production
      LogEnvironment__Environment: Production
    secret:
      key1: value1